<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New BYGOD List</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>B.Y.G.O.D.</h1>
    <h2>Before You Get Old or Die</h2>
    <h3>New BYGOD List</h3>
    <div class=navbar-vertical">
        <nav>
            <ul class="right">
                <li>
                    <a href="/users/profile">Your BYGODs</a>
                    <a href="/items/new">New BYGOD</a>
                    <a href="/lists/<%= user._id %>/new">New BYGOD List</a>
                    <a href="/users/allItems">All BYGODs</a>
                    <a href="/users/allLists">All Lists</a>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>

    <main>
        <main>
            <div>
                <form action="users/profile" method="POST">
                    <label>Title:</label>
                    <input name="title" type="text">
                    <label>Description:</label>
                    <input name="description" type="text">
                    <input class="submit-btn" type="submit" value="Add BYGOD List">
                </form>
            </div>
           
        </main>
        </div>
   
    </main>


</body>
</html>