:root {
  --titlefont: 'Special Elite';
  --navfont: 'Oswald';
  --profilefont: 'Open Sans Condensed';
  --userfont: 'Lato';
  --backgroundcolor: #adb5bd;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.circle {
  position: fixed;
  border-radius: 50%;
  background: black;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #6c757d;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom:0px;
  
}

h1, h2 {
  font-family: var(--titlefont);
  text-align: center;
}

h4 {
  font-family: var(--titlefont);
  text-align: center;
}


div.index-login {
  margin-top: 40px;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 25%;
}

 .navbar {
  position: fixed;
  top: 0;
  right: 0;
}


ul .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1e8;
}


.navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-family: var(--navfont);
}

.navbar li a:hover {
  background-color: #555;
  color: white;
}
 
.google-login{
  font-size: 14px;
  padding: 12px 28px;
  border-radius: 8px;
  background-color: #636364;
  font-family: 'Noto Serif JP';
  font-weight: 700;
  color: white;
}

.user-photo {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.user-name {
  font-size: 30px;
  font-family: var(--profilefont);
}

.user-box {
  padding: 10px;
  font-family: var(--profilefont);
}


.input-content {
  width: 400px;
  height: 100px;
  display: block;
  border-block: black solid 2px;
  white-space: normal;
}

.user-display {
font-family: var(--userfont);
font-size: 20px;
width: 1000px;
margin: 5px 0px 0px 0px;

}

.submit-btn, .form {
  font-family: var(--titlefont);
  padding: 2px 2px 0px 2px;
}