:root {
  --titlefont: 'Special Elite';
  --navfont: 'Oswald';
  --profilefont: 'Open Sans Condensed';
}


h1, h2 {
  font-family: var(--titlefont);
}

h4 {
  font-family: var(--titlefont);
}

 .navbar {
  position: fixed;
  top: 0;
  right: 0;
 }


ul .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1e8;
  }
  
  
 .navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-family: var(--navfont);
  }
  
  .navbar li a:hover {
    background-color: #555;
    color: white;
  }
 
.google-login{
      font-size: 14px;
      padding: 12px 28px;
      border-radius: 8px;
      background-color: #008CBA;
      font-family: 'Noto Serif JP';
      font-weight: 700;
      color: white;
}

.user-photo {
  height: 50px;
}

.user-name {
  font-family: var(--profilefont);
}

